{% load poll_extras %}

<div class="">
    <div>
        <h3 class="text-lg font-bold mb-3 flex items-center gap-2 border-b-2 border-indigo-500" >
            🔥 Top Comentarios
        </h3>
    </div>

    {% if comments %}
        <ul id="commentsContainer" class="space-y-3">
            {% for comment in comments %}
            <li class="border border-indigo-500 rounded-xl p-3">
                <!-- Usuario -->
                <div class="flex items-center gap-2 mb-2">
                    {% if comment.user.profile.profile_picture %}
                        <img src="{{ comment.user.profile.profile_picture.url|force_https }}" alt="Perfil" loading="lazy"
                             class="w-10 h-10 object-cover object-center rounded-full border border-indigo-300">
                    {% else %}
                        <div class="w-8 h-8 rounded-full bg-indigo-100 border border-indigo-500 flex items-center justify-center text-sm font-bold">
                            {{ comment.user.profile.get_profile_initials }}
                        </div>
                    {% endif %}
                    <span class="font-semibold text-gray-800">{{ comment.user }}</span>
                </div>

                <!-- Contenido -->
                {% if not comment.is_active %}
                    <div class="inline-flex items-center gap-1 bg-red-100 text-red-800 text-xs px-2 py-1 rounded mb-2">
                        <i class="fas fa-ban"></i> Comentario moderado
                    </div>
                {% else %}
                    <p class="text-gray-800 text-left">
                        {{ comment.content|highlight_mentions }}
                    </p>
                {% endif %}

                <!-- Reacciones -->
                <div class="mt-3">
                    {% include "partials/reaction_buttons.html" with comment=comment likes_count=comment.likes_count dislikes_count=comment.dislikes_count user_reaction=comment.user_reaction %}
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <p class="text-gray-500 text-sm py-2">No hay comentarios destacados</p>
    {% endif %}
</div>
